pipelinesexample/src/main/mule/pipelinesexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7576b96c-a050-486c-b8ed-a7e71d5c7384" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pipelinesexampleFlow" doc:id="823cbf65-3511-429e-9e41-c29c5cd01815" >
		<http:listener doc:name="Listener" doc:id="f67e981d-bc16-418f-9133-25487e984c03" config-ref="HTTP_Listener_config" path="/pipelines"/>
		<logger level="INFO" doc:name="Logger" doc:id="bd4605fd-674b-4f09-9805-e1267252eca4" message="started process"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="0059f222-3b92-480b-93c4-e70bfa7b742d" />
	</flow>
</mule>
